<%- include('./include/header.ejs') %>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <!-- <h1 class="m-0">Dashboard</h1> -->
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Create Category</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <a href="/category">
                                    <button type="button" class="btn btn-primary">Back</button>
                                </a>
                            </div>

                            <div class="card-body">
                                <form action="/category/edit" method="post" enctype="multipart/form-data">

                                    <input type="hidden" name="id" value="<%= result.id %>">

                                    <div class="row">
                                        <div class="input-group col-md-4 mb-3">
                                            <input type="text" name="c_name" id="c_name" class="form-control"
                                                placeholder="Enter Category Name" value="<%= result.c_name %>" required>
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-language"></span>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- <div class="input-group col-md-4 mb-3">
                                            <input type="file" name="c_image" id="c_image" class="form-control">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-language"></span>
                                                </div>
                                            </div>
                                        </div> -->

                                        <div class="input-group col-md-4 mb-3">

                                            <select name="c_parent_id" id="c_parent_id" class="form-control">
                                                <option value=""> -- select parent -- </option>
                                                <!--  -->


                                                <% result2.forEach(item=>{ %>

                                                    <% if(item.id===result.c_parent_id){ %>
                                                        <option selected value="<%= item.id %>">
                                                            <%= item.c_name%>
                                                        </option>
                                                        <%} else {%>
                                                            <option value="<%= item.id %>">
                                                                <%= item.c_name%>
                                                            </option>

                                                            <% } item.sub_category.forEach(subItem=>{ %>

                                                                <% if(subItem.id===result.c_parent_id){ %>
                                                                    <option selected value="<%= subItem.id %>"> --- <%=
                                                                            subItem.c_name%>
                                                                    </option>
                                                                    <%}else{%>
                                                                        <option value="<%= subItem.id %>"> --- <%=
                                                                                subItem.c_name%>
                                                                        </option>
                                                                        <% }}) }) %>
                                            </select>
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-language"></span>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <select name="c_status" id="c_status" class="form-control">

                                                <option <%=result.c_status=='active' ?'selected':'' %>
                                                    value="active">Active</option>
                                                <option <%=result.c_status=='inactive' ?'selected':'' %>
                                                    value="inactive">In-Active</option>
                                            </select>
                                        </div>
                                        <!-- <div class="input-group col-md-6 mb-3">
                                            <textarea placeholder="Enter Category Description" name="c_description"
                                                class="form-control" id="c_description" cols="30" rows="5">
                                                <%= result.c_description %>
                                            </textarea>
                                        </div>
                                        <div class="col-md-6">
                                            <% if(result.c_image) { %>
                                                <img src="<%= result.c_image %>" alt="" width="100px" height="100px">
                                                <%}%>
                                        </div> -->
                                    </div>



                                    <div class="row">
                                        <div class="col-4 m-3">
                                            <button id="submit" type="submit" class="btn btn-success">Update</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <%- include('./include/footer.ejs') %>

    <script>
        let err_msg = `<%= err_msg%>`;
        let err_type = `<%= err_type %>`;
        if (err_msg) {
            if (err_type) {
                toastr.success(err_msg)
            }
            else{
                toastr.error(err_msg)
            }
        }

    </script>