<%- include('./include/header.ejs') %>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <!-- <h1 class="m-0">Dashboard</h1> -->
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Course Create</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <a href="/course">
                                    <button type="button" class="btn btn-primary">Back</button>
                                </a>
                            </div>

                            <div class="card-body">
                                <form action="/course/create" method="post" onsubmit="return formValidation()"
                                    enctype="multipart/form-data">



                                    <div class="row">
                                        <div class="input-group col-md-4 mb-3">
                                            <input type="text" name="course_name" id="course_name" class="form-control"
                                                placeholder="Enter course_name" required>
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-language"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group col-md-4 mb-3">
                                            <input type="text" name="short_description" id="short_description"
                                                class="form-control" placeholder="Enter short description" required>
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-language"></span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="input-group col-md-4 mb-3">

                                            <select required name="group_id" id="group_id" class="form-control">
                                                <option value=""> -- select group -- </option>
                                                <% group.forEach(item=>{ %>

                                                    <option value="<%= item.id %>">
                                                        <%= item.g_name%>
                                                    </option>

                                                    <% }) %>
                                            </select>
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-language"></span>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="row">




                                        <div class="input-group col-md-4 mb-3">

                                            <select required name="category_id" id="category_id" class="form-control">
                                                <option value=""> -- select category -- </option>


                                                <% category.forEach(item=>{ %>

                                                    <option value="<%= item.id %>">
                                                        <%= item.c_name%>
                                                    </option>

                                                    <% item.sub_category.forEach(subItem=>{ %>

                                                        <option value="<%= subItem.id %>"> -- <%= subItem.c_name%>
                                                        </option>

                                                        <% subItem.sub_category.forEach(child=>{ %>
                                                            <option value="<%= child.id %>"> .... <%= %>
                                                                    <%= child.c_name%>
                                                            </option>
                                                            <% })%>

                                                                <% }) }) %>

                                            </select>
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-language"></span>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="input-group col-md-4 mb-3">

                                            <select required name="lang" id="lang" class="form-control">
                                                <option value=""> -- select language -- </option>
                                                <% lang.forEach(item=>{ %>

                                                    <option value="<%= item.id %>">
                                                        <%= item.name%>
                                                    </option>

                                                    <% }) %>
                                            </select>
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-language"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group col-md-4 mb-3">
                                            <select required name="course_level" id="course_level" class="form-control">
                                                <option value=""> -- select course level -- </option>
                                                <option value="beginner">Beginner</option>
                                                <option value="intermediate">Intermediate</option>
                                                <option value="advanced">advanced</option>
                                            </select>
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-language"></span>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="row">

                                        <div class="input-group col-md-4 mb-3">

                                            <select required name="published_status" id="published_status"
                                                class="form-control">
                                                <option value=""> -- select published_status -- </option>
                                                <option value="active">Active</option>
                                                <option value="inactive">In-Active</option>
                                            </select>
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-language"></span>
                                                </div>
                                            </div>
                                        </div>







                                    </div>

                                    <div class="row">
                                        <div class="input-group col-md-4 mb-3">
                                            <div class="col-md-12">
                                                <label for="image">Image</label>
                                                <input type="file" name="image" id="image" class="form-control"
                                                    placeholder="Enter image description">
                                            </div>
                                        </div>

                                        <div class="input-group col-md-4 mb-3">
                                            <div class="col-md-12">
                                                <label for="avatar_image">Avatar Image</label>
                                                <input type="file" name="avatar_image" id="avatar_image"
                                                    class="form-control" placeholder="Enter avatar_image description">
                                            </div>

                                        </div>

                                        <div class="input-group col-md-4 mb-3">
                                            <div class="col-md-12">
                                                <label for="attachment_file">File Upload</label>
                                                <input type="file" name="attachment_file" id="attachment_file"
                                                    class="form-control" placeholder="Enter attachment_file">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="row">
                                        <div class="input-group col-md-6 mb-3">
                                            <textarea placeholder="Enter Category Description" name="c_description"
                                                class="form-control" id="c_description" cols="30" rows="5"></textarea>
                                        </div>
                                    </div> -->



                                    <div class="row">
                                        <div class="col-4 m-3">
                                            <button id="submit" type="submit" class="btn btn-success">Create</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <script>
                    function formValidation() {

                        // Allowing image file type
                        var allowedImageExtensions = /(\.jpg|\.jpeg|\.png)$/i;
                        // Allowing file type
                        var allowedFileExtensions = /(\.pdf|\.xls|\.doc)$/i;

                        var image = document.getElementById("image").value;
                        var avatar_image = document.getElementById("avatar_image").value;
                        var attachment_file = document.getElementById("attachment_file").value;


                        if (image) {
                            if (!allowedImageExtensions.exec(image)) {
                                alert('Invalid file type, file type must be jpg,jpeg,png');
                                return false;
                            }
                        }

                        if (avatar_image) {
                            if (!allowedImageExtensions.exec(avatar_image)) {
                                alert('Invalid file type, file type must be jpg,jpeg,png');
                                return false;
                            }
                        }

                        if (attachment_file) {
                            if (!allowedFileExtensions.exec(attachment_file)) {
                                alert('Invalid file type, file type must be pdf,xls,doc');
                                return false;
                            }
                        }





                    }
                </script>

            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <%- include('./include/footer.ejs') %>


        <script>
            let err_msg = `<%= err_msg%>`;
            let err_type = `<%= err_type %>`;
            if (err_msg) {
                if (err_type) {
                    toastr.success(err_msg)
                }
                else {
                    toastr.error(err_msg)
                }
            }

        </script>