<%- include('./include/header.ejs') %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1 class="m-0">Dashboard</h1> -->
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Create User</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <a href="/user-list">
                <button type="button" class="btn btn-primary">Back</button>
              </a>
            </div>

            <div class="card-body">
              <form action="/create-user" method="post">

                <div class="row">
                  <div class="input-group mb-3 col-md-6">
                    <input
                      required
                      type="text"
                      name="firstname"
                      id="firstname"
                      class="form-control"
                      placeholder="First Name"
                    />
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-user"></span>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3 col-md-6">
                    <input
                      required
                      type="text"
                      name="lastname"
                      id="lastname"
                      class="form-control"
                      placeholder="Last Name"
                    />
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-user"></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="input-group mb-3 col-md-6">
                    <input
                      required
                      type="email"
                      name="email"
                      id="email"
                      class="form-control"
                      placeholder="Email"
                    />
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-3 col-md-6">
                    <select required name="role" id="role" class="form-control">
                      <option value="">--- Select user type ---</option>
                      <option value="2">Supervisor</option>
                      <!-- <option value="3">Manager</option> -->
                      <option value="4">Creator</option>
                      <option value="5">User</option>
                    </select>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-3 col-md-6">
                    <select
                      required
                      name="group_id[]"
                      id="group_id"
                      class="form-control selectpicker select2"
                      multiple="multiple"
                      data-placeholder="Select group"
                    >
                       
                      <% group.forEach((item)=>{ %> <%
                      if(item.g_status=='active') {
                        
                        %>
                        
                      <option value="<%= item.id %>"><%= item.g_name %></option>
                      <%}%> <% }) %>
                    </select>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                      </div>
                    </div>
                  </div>

                  

                  <div class="input-group mb-3 col-md-6">
                    <select
                      required
                      name="qualification"
                      id="qualification"
                      class="form-control"
                    >
                      <option value="">-- Select qualification --</option>
                      <% qualification.forEach((item)=>{ %>

                      <option value="<%= item.id %>"><%= item.name %></option>

                      <% }) %>
                    </select>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-3 col-sm-6">
                    <input
                      required
                      type="text"
                      name="password1"
                      id="password1"
                      class="form-control"
                      placeholder="Password"
                    />
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-3 col-sm-6">
                    <input
                      required
                      type="text"
                      name="password2"
                      id="password2"
                      class="form-control"
                      placeholder="Confirm Password"
                    />
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-3 col-md-6">
                    <select
                      required
                      name="status"
                      id="status"
                      class="form-control"
                    >
                      <option value="">-- Select status --</option>
                      <option value="1">Approve</option>
                      <option value="0">Dis-Approve</option>
                    </select>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-3 col-md-6">
                    <input
                      type="date"
                      name="date"
                      id="date"
                      value=""
                      class="form-control"
                    />
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-3 col-md-6">
                    <input
                      required
                      type="text"
                      name="hr_no"
                      id="hr_no"
                      class="form-control"
                      placeholder="HR NUMBER"
                    />
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-user"></span>
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-3 col-md-6">
                    <input
                      type="text"
                      name="organization_unit"
                      id="organization_unit"
                      class="form-control"
                      placeholder="Organization Unit"
                    />
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-user"></span>
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-3 col-md-6">
                    <select
                      required
                      name="login_type"
                      id="login_type"
                      class="form-control"
                    >
                      <option value="">-- Select Login Type --</option>
                      <option value="local">Local</option>
                      <option value="google">Google</option>
                      <option value="ms">Microsoft</option>
                    </select>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-3 col-md-6">
                    <select
                      required
                      name="language"
                      id="language"
                      class="form-control"
                    >
                      <option value="">-- Select language --</option>
                      <% language.forEach((item)=>{ %>

                      <option value="<%= item.id %>"><%= item.name %></option>

                      <% }) %>
                    </select>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                      </div>
                    </div>
                  </div>


                </div>

                <div class="col-4">
                  <button id="submit" type="submit" class="btn btn-success">
                    Submit
                  </button>
                </div>

              </form>

              <!-- <div class="row">

                                    <div class="col-md-6 mt-4">
                                        <form action="/admin/user-csv" method="post" enctype="multipart/form-data">
                                            
                                            <label for="user_csv_file">USER CSV FILE UPLOAD</label>
                                            <div class="input-group mb-3 ">
                                                <input type="file" name="user_csv_file" id="user_csv_file" class="form-control"
                                                    placeholder="First Name">
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-user"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-success" type="submit">Upload</button>
                                            </div>
                                        </form>
                                    </div>
                                </div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include('./include/footer.ejs') %>

<script>
  let err_msg = `<%= err_msg%>`;
  let err_type = `<%= err_type %>`;
  if (err_msg) {
    if (err_type) {
      toastr.success(err_msg);
    } else {
      toastr.error(err_msg);
    }
  }

  $(document).ready(function () {


    //Initialize Select2 Elements
    $('.select2').select2()

     

    // $("#group_id").multiselect({
    //   buttonWidth: "300px",
    // });
  });
</script>
