<%- include('./include/header.ejs') %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1 class="m-0">Dashboard</h1> -->
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Group List</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- <%- req.toastr.render() %> -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <a href="/group/create">
                <button type="button" class="btn btn-primary">Add</button>
              </a>
            </div>
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% var i=1; %> <% result.forEach((data)=>{ %>
                  <tr id="del<%= data.id %>">
                    <td><%= i %></td>
                    <td><%= data.g_name.toUpperCase() %></td>
                    <td width="100px">
                      <% if(data.g_status=='active'){ %>
                      <p
                        style="
                          background-color: green;
                          color: white;
                          width: 100px;
                          font-weight: bold;
                        "
                        class="text-center"
                      >
                        Active
                      </p>
                      <% } else {%>
                      <p
                        style="
                          background-color: red;
                          color: white;
                          width: 100px;
                          font-weight: bold;
                        "
                        class="text-center"
                      >
                        In-Active
                      </p>
                      <% } %>
                    </td>
                    <td>
                      <a href="/group/edit/<%= data.id %>">
                        <button class="btn btn-sm btn-success">
                          <span class="fas fa-pen"></span>
                        </button>
                      </a>

                      <button
                        onclick="deleteData(`<%= data.id%>`)"
                        class="btn btn-sm btn-danger"
                      >
                        <span class="fas fa-trash"></span>
                      </button>
                    </td>
                  </tr>
                  <% i++; }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include('./include/footer.ejs') %>

<script type="text/javascript">
  function deleteData(id) {
    // console.log(`<%= req.session.username %>`);

    var del = document.getElementById("del" + id);

    var option = {
      mode: "cors",
      method: "get",
      headers: {
        "Content-Type": "application/json",
      },
    };
    fetch("/group/del/" + id, option)
      .then((res) => {
        del.style.display = "none";
      })
      .catch((err) => console.log(err));

    //  refresh div with out page load ------------------------
    $("#example2").load(location.href + " #example2");
  }
</script>
