<%- include('./include/header.ejs') %>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <!-- <h1 class="m-0">Dashboard</h1> -->
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Create Lesson</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <a href="/lesson">
                                    <button type="button" class="btn btn-primary">Back</button>
                                </a>
                            </div>

                            <div class="card-body">
                                <form action="/lesson/create" method="post" onsubmit="return formValidation()"
                                    enctype="multipart/form-data">



                                    <div class="row">

                                        <div class="input-group col-md-6 mb-3">

                                            <select onchange="getLesson()" required name="course_id" id="course_id"
                                                class="form-control">
                                                <option value=""> -- select Course -- </option>
                                                <% course.forEach(item=>{ %>

                                                    <option value="<%= item.id %>">
                                                        <%= item.course_name%>
                                                    </option>

                                                    <% }) %>
                                            </select>
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-language"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group col-md-6 mb-3">

                                            <select required name="chapter_id" id="chapter_id" class="form-control">
                                                <option value=""> -- select Chapter -- </option>
                                                <% chapter.forEach(item=>{ %>

                                                    <option value="<%= item.id %>">
                                                        <%= item.chapter_name%>
                                                    </option>

                                                    <% }) %>
                                            </select>
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-language"></span>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="row">
                                        <div class="input-group col-md-6 mb-3">
                                            <input type="text" name="lesson_name" id="lesson_name" class="form-control"
                                                placeholder="Enter Lesson Name">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-language"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group col-md-6 mb-3">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <span class="">Upload Vedio</span>
                                                </div>
                                            </div>

                                            <input required type="file" name="lesson_vedio" id="lesson_vedio"
                                                class="form-control" placeholder="Enter Lesson Name">

                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="input-group col-md-6 mb-3">

                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <span class="">Attachment File</span>
                                                </div>
                                            </div>
                                            <input required type="file" name="lesson_file" id="lesson_file"
                                                class="form-control" placeholder="Enter Lesson Name">
                                        </div>



                                    </div>

                                    <div class="row">
                                        <div class="input-group-prepend ml-2">
                                            <div class="">
                                                <h5>Enter Lesson Description</h5>
                                            </div>
                                        </div>
                                        <div class="input-group col-md-12 mb-3">
                                            
                                                <textarea class="form-control" placeholder="Enter Lesson Description" 
                                                name="lesson_details" id="lesson_details" cols="30" rows="5"></textarea>

                                        </div>
                                    </div>




                                    <div class=" col-md-4 mb-3">
                                        <div class="col-4">
                                            <button id="submit" type="submit" class="btn btn-success">Create</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <script>
                    async function getLesson() {
                        var course = document.getElementById("course_id");
                        var courseId = course.value;
                        var option = {
                            mode: 'cors',
                            method: "get",
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        }

                        var data = await fetch("/course/chapter/" + courseId, option)
                            .then(res => res.json())
                            .catch(err => console.log(err))



                        var temp = '';
                        var chapter_id = document.getElementById('chapter_id');
                        chapter_id.innerHTML = "";

                        var option = document.createElement("option");
                        option.value = "";
                        option.text = "-- select Chapter --";
                        chapter_id.appendChild(option)

                        for (var item of data.data) {

                            var option = document.createElement("option");
                            option.value = item.id;
                            option.text = item.chapter_name;

                            chapter_id.appendChild(option)
                        }


                    }


                    function formValidation() {



                        // Allowing image file type
                        var allowedVedioExtensions = /(\.mp4)$/i;

                        // Allowing file type
                        var allowedFileExtensions = /(\.pdf|\.xls|\.doc)$/i;

                        var lesson_vedio = document.getElementById("lesson_vedio").value;
                        // var avatar_image = document.getElementById("avatar_image").value;
                        var lesson_file = document.getElementById("lesson_file").value;



                        if (lesson_vedio) {
                            // alert(2)
                            if (!allowedVedioExtensions.exec(lesson_vedio)) {
                                alert('Invalid file type, file type must be mp4');
                                return false;
                            }
                        }

                        if (lesson_file) {
                            if (!allowedFileExtensions.exec(lesson_file)) {
                                alert('Invalid file type, file type must be pdf,xls,doc');
                                return false;
                            }
                        }

                    }

                </script>

            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <%- include('./include/footer.ejs') %>

        <script>
            let err_msg = `<%= err_msg%>`;
            let err_type = `<%= err_type %>`;
            if (err_msg) {
                if (err_type) {
                    toastr.success(err_msg)
                }
                else {
                    toastr.error(err_msg)
                }
            }

        </script>