<%- include('./include/header.ejs') %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1 class="m-0">Dashboard</h1> -->
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">User List</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- <%- req.toastr.render() %> -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              

              <div class="row">

               

                <div class="col-md-12 mt-4">

                  <a href="/create-user">
                    <button type="button" class="btn btn-primary">
                      Create User
                    </button>
                    
                  </a>

                    <form action="/admin/user-csv" method="post" enctype="multipart/form-data">
                        
                        <label for="user_csv_file">USER CSV FILE UPLOAD</label>
                        <div class="input-group mb-3 col-6 ">
                            <input type="file" name="user_csv_file" id="user_csv_file" class="form-control"
                                placeholder="First Name">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class=" input-group col-4">
                            <button class="btn btn-success" type="submit">Upload</button>
                        </div>
                    </form>
                </div>
            </div> 

            </div>
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>User Type</th>
                    <th>Active</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% var i=1; %> <% result.forEach((data)=>{ %>
                  <tr>
                    <td><%= i %></td>
                    <td><%= data.date%></td>
                    <td><%= data.username %></td>
                    <td><%= data.email%></td>
                    <td><%= data.role%></td>
                    <td>
                      <label class="switch">
                        <% var chkstatus=(data.status?'checked':''); %>
                        <input type="checkbox" <%= chkstatus %>
                        onchange="statusUpdate(`<%= i %>`,` <%= data.email%> `)"
                        id="status<%= i %>" >
                        <span class="slider round"></span>
                      </label>
                    </td>
                    <td>
                      <a href="/edit-list/<%= data.id%>">
                        <button class="btn btn-sm btn-success">
                          <span class="fas fa-pen"></span>
                        </button>
                      </a>

                      <!-- <button type="button" class="btn btn-sm btn-default"
                                                            data-toggle="modal" data-target="#modal-default">
                                                            <span class="fas fa-key"></span>
                                                        </button> -->
                    </td>
                  </tr>
                  <% i++; }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Change Password</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    name="password1"
                    id="password1"
                    class="form-control"
                    value="<%= result.name %>"
                    placeholder="Enter Password"
                  />
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input
                    type="text"
                    name="password2"
                    id="password2"
                    class="form-control"
                    value="<%= result.name %>"
                    placeholder="Enter Confirm Password"
                  />
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer justify-content-between">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">change</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include('./include/footer.ejs') %>

<script type="text/javascript">

 

  function statusUpdate(id, email) {
    // console.log(`<%= req.session.username %>`);
    var value = document.querySelector("#status" + id).checked;
    var data = {
      email: email.trim(),
      status: value,
    };
    // console.log(JSON.stringify(data))
    var option = {
      mode: "cors",
      method: "post",
      body: JSON.stringify(data),
      headers: {
        "Content-Type": "application/json",
      },
    };
   fetch("/user-status", option).catch((err) => console.log(err));

  //  refresh div with out page load ------------------------
   $('#example2').load(location.href + ' #example2');

    
  }
</script>
